body {
    font-family: sans-serif;
    background-color: grey
}
.logo{
    height:100 px;
    width: 100 px;
}
header h1 img{
    width: 650 px;
    color: red;
    text-align: center;
    top: 10 px;
}
main h1{
    color: red;
    text-align: center ;
}
table, td, tr{
    border: 5 px solid white;
    border-radius: 10 px ;
    text-align: center;
}
.image-1 {
    z-index: 0;
    position: absolute;
    opacity: 0.5;
}

.image-2 {
    z-index: 0;
    position: absolute;
    top:3530 px;
    left: 120 px;
    opacity: 0.5 ;
}

.image-3 {
    z-index: 0;
    position: absolute;
    top: 3600 px;
    left: 240 px;
    opacity: 0.5 ;
}
.image-4 {
    z-index: 0;
    position: absolute;
    top: 3700 px;
    left: 360 px;
    opacity: 0.5 ;
}
.image-5 {
    z-index: 0;
    position: absolute;
    top: 3800 px;
    left: 240 px;
    opacity: 0.5 ;
}
.image-6 {
    z-index: 0;
    position: absolute;
    top: 3900 px;
    left: 120 px;
    opacity: 0.5 ;
}
.image-7 {
    z-index: 0;
    position: absolute;
    top: 4000 px;
    opacity: 0.5 ;
}
.image-1:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
.image-2:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
.image-3:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
.image-4:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
.image-5:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
.image-6:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
.image-7:hover{
    z-index: 1;
    opacity: 1;
    height: 250 px;
    width: 350 px;
}
footer h1{
    text-align: center;
    color: red;
}
nav {
    border-bottom: 1 px dashed navy;
}
nav a {
    text-decoration: none;
    font-size: 20 px;
    color: black;
    margin: 30 px;
}
